    /*METHODE 3
     CLAMP*/

     h1, h2, h3, p, li, img {
        font-size: clamp(var(--min), var(--val), var(--max));
    }
    h1 {
        --min: 2em;
        --val: 5vw;
        --max: 7em;
    }
    h2 {
        --min: 1.5em;
        --val: 4vw;
        --max: 4em;
    }
    h3 {
        --min: 1.25em;
        --val: 3vw;
        --max: 2.5em;
    }
    p {
        --min: 1em;
        --val: 2vw;
        --max: 1.25em;
    }
    li {
        --min: 1em;
        --val: 2vw;
        --max: 1.25em;
    }
    img {
        --min: 1em;
        --val: 4vw;
        --max: 3em;
    }

    body {
        color: rgb(14, 4, 158);
        background-color: rgb(217, 219, 245);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    @media (min-width: 750px) {
        body {
            color: rgb(128, 34, 86);
            background-color: rgb(250, 235, 235);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    @media (min-width: 1250px) {
        body {
            color: rgb(19, 110, 122);
            background-color: rgb(203, 241, 232);
        }
    }
